/* reset */
img { 
  width: 100%; 
}

/* globali */
:root {
  --dark-bg: #21222D;
  --candy-pink: #EFB7A4;
  --darker-pink: #DF9F8A;
  --fluo-green: #E1FE5E;
  --darker-green: #D2ED56;
  --light-azure: #BAF1F3;
  --dark-azure: #9FE3E5;
  --dark-blue: #2A2B39;
  --dark-grey: #373842;
  --medium-dark-grey: #97989F;
  --medium-grey: #B6B6B6;
  --medium-lightgrey: #EDEDEF;
  --light-grey: #F6F6F7;
  --super-lightgrey: #FAFAFB;
  --white: white;
  --black: #21222B;
}

.grey-text {
  color: var(--medium-grey);
}

.little-text {
  font-size: 0.8rem;
}

.superlightgrey-bg {
  background-color: var(--super-lightgrey);
}

.pinkBg {
  background-color: var(--candy-pink);
}

.darkerPinkBg {
  background-color: var(--darker-pink);
}

.greenBg {
  background-color: var(--fluo-green);
}

.darkerGreenBg {
  background-color: var(--darker-green);
}

.azureBg {
  background-color: var(--light-azure);
}

.darkerAzureBg {
  background-color: var(--dark-azure);
}

.little-circle {
  font-size: 0.5rem;
  vertical-align: middle;
}

.pinkText {
  color: var(--candy-pink);
}

.greenText {
  color: var(--fluo-green);
}

/* navbar a lato sx*/
#myNavbar {
  min-width: 110px;
  background-color: var(--dark-bg);
  height: 100vh;
  font-size: 1.5rem;
  color: var(--medium-dark-grey);
}

#plusIcon {
  color: var(--white);
  background-color: var(--dark-grey);
  aspect-ratio: 1/1;
}

.activeIcon {
  background-color: var(--dark-blue);
  /* padding: 8px 1px; */
  border-radius: 5px;
}

.activeIcon {
  color: var(--fluo-green);
}

/* pagina */
#myPage {
  /* max-width: 200px; */
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sectionTitle {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.whiteBox {
  background-color: var(--white);
  padding: 15px 10px;
  border-radius: 10px;
}

.roundedIcon {
  aspect-ratio: 1/1;
  height: 16px;
}

/* navbar in alto/action bar */
#actionBar {
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-lightgrey);
}

#searchInput {
  position: relative;
}

#searchInput input {
  background-color: var(--light-grey);
  color: var(--medium-grey);
  border: none;
  font-size: 0.75rem;
  padding: 10px 35px 10px;
  /* padding-left: 35px; */
  min-width: 275px;
}

#searchIcon {
  position: absolute;
  left: 10px;
  color: var(--medium-grey);
}

#profile {
  background-color: var(--super-lightgrey);
}

#profile > figure {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  object-fit: cover;
  overflow: hidden;
}

#profile > figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* col 2 */
/* banner */
#banner {
  position: relative;
}

#banner button {
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  bottom: 13%;
  left: 11%;
  font-size: 0.8rem;
}

/* report */
#report .roundedIcon {
  height: 25px;
}

/* integration */
#integration .whiteBox {
  border: 1px solid var(--medium-lightgrey);
}

.connected, .connect {
  color: var(--black);
  font-size: 0.8rem;
  border: none;
  border-radius: 7px;
  padding: 5px 7px;
  max-width: fit-content;
}

.connected {
  background-color: var(--candy-pink);
}

.connect {
  background-color: var(--medium-lightgrey);
}

.logoFigure {
  max-width: 70px;
}

/* hovers  */
.icon:hover {
  color: var(--fluo-green);
}

#timeTracker .row.whiteBox:hover, #integration .row.whiteBox:hover {
  transform: scale(1.01);
  box-shadow: 2px 10px 18px 2px rgba(0,0,0,0.2);
}

.actionIcon:hover { 
  color: black;
}

#profile:hover {
  transform: scale(1.01);
  cursor: pointer;
}